@import './variables';

.commom-scale-box {
  height: 375px;
  padding: 3rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .commom-scale-box__wrap {
    p {
      color: $white-smoke;
      font-size: 1rem;
      font-weight: bold;
    }

    h1 {
      font-size: 2rem;
      color: $white-smoke;
      margin: 2rem 0;
      width: 250px;
    }

    .btn-commom {
      padding: 0.8rem 2rem;
      border-radius: 30px;
      background-color: #62ade7;
      border: none;
      box-shadow: 0 0 14px 1px rgba($color: #000000, $alpha: 0.2);
    }
  }
}
