@import './variables';

.footer {
  position: relative;
  top: -175px;
  z-index: 1;
  background-color: #222222;

  .footer__subcribe {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/bg-subcribe.png');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 10rem 0;

    .footer__subcribe__wrap {
      h2 {
      }
      p {
        width: 700px;
        margin: 2rem auto 4rem;
        color: $text-color-sub;
      }
      .subcribe__wrap__form {
        width: 500px;
        position: relative;
        margin: auto;

        input {
          width: 100%;
          padding: 1rem 2rem;
          margin: 0 auto;

          border-radius: 30px;
          border: none;
          outline: none;

          box-shadow: 0 0 10px 2px $text-color-sub;
        }
        i {
          position: absolute;
          right: 6%;
          top: 50%;
          transform: translateY(-50%);

          color: $blue;
        }
      }
    }
  }

  .footer__main {
    ul {
      padding: 0;
      list-style: none;
    }

    .footer__main__wrap {
      display: flex;
      justify-content: space-between;

      width: 80%;
      margin: auto;
      padding: 8rem 0;

      .footer__main__info {
        h4 {
          color: $white-smoke;
        }

        p {
          color: #4c4c4c;
          margin: 2rem 0;
        }

        ul {
          display: flex;

          li {
            margin-right: 1rem;
            color: #838383;
          }
        }

        span {
          color: #4c4c4c;
        }
      }

      .footer__main__help,
      .footer__main__about {
        h5 {
          color: $white-smoke;
        }

        ul {
          color: #838383;

          li {
            margin: 1rem 0;
          }
        }
      }

      .footer__main__social {
        .social {
          display: flex;
          align-items: center;

          li {
            margin-left: 2rem;
            i {
              color: $white-smoke;
            }
          }
        }

        .payment {
          text-align: right;
          margin-top: 6rem;

          p {
            color: #4c4c4c;
          }
          ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            li {
              margin-left: 1rem;
              i {
                color: $white-smoke;
              }
            }
          }
        }
      }
    }
  }
}
