@import './variables';

.header {
  box-shadow: 0 0 15px rgba($color: #000000, $alpha: 0.5);
  position: relative;
  z-index: 5;

  .wrapped {
    height: 75px;
    width: 100%;

    background-color: $background-color-hp;

    display: flex;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 1rem;
      color: $white-smoke;
    }

    .header__search,
    .header__user,
    .header__like,
    .header__cart {
      width: 75px;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
    }

    .header__search {
      border-right: 1px solid $border-color-icon-header;
    }

    .header__category {
      display: flex;
      align-items: center;

      height: 100%;
      flex: 2.5;

      .header__category__icon {
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
      }

      .header__category_name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1.5;

        width: 75px;
        height: 100%;

        border-right: 1px solid $border-color-icon-header;

        p {
          color: $white-smoke;
          margin: 0;
          font-size: 0.6rem;
        }
        span {
          font-size: 1rem;
          color: $white-smoke;
        }
      }
    }

    .header__logo {
      flex: 16.2;

      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        color: $white-smoke;
        font-size: 1.5rem;
      }
    }

    .header__user {
      border-left: 1px solid $border-color-icon-header;
      border-right: 1px solid $border-color-icon-header;
    }

    .header__like {
      border-right: 1px solid $border-color-icon-header;
    }
  }
}
