.product-detail-page {
  position: relative;
  left: 50%;
  top: -100px;
  transform: translateX(-50%);
  width: 80%;
  z-index: 5;

  background-color: $white-smoke;
  box-shadow: 0 0 20px $box-shadow;

  .wrap__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 125px;

    .product-detail__info {
      width: 38.5%;
      h6 {
        color: $dodger-blue;
      }

      h1 {
        color: $text-color-main;
        font-size: 1.6rem;
        margin: 1rem 0;
      }

      .rating {
        display: flex;
        align-items: center;
        ul {
          list-style: none;
          padding: 0;
          margin: 0 1rem 0 0;
          display: flex;

          li {
            i {
              color: rgb(233, 233, 112);
            }
          }
        }

        span {
          color: $text-color-sub;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }

      .wrap__attr {
        display: flex;
        align-items: center;
        margin: 1rem 0;

        .wrap__attr__color {
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          width: 50%;
          h6 {
            color: $text-color-main;
          }
          ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            li {
              width: 36px;
              height: 36px;
              margin-right: 1rem;
              background-color: black;
              border-radius: 50%;
            }
          }
        }

        .wrap__attr__size {
          width: 50%;
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          h6 {
            color: $text-color-main;
          }
          ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            li {
              margin-right: 1.6rem;
              font-weight: 500;
            }
          }
        }
      }

      .wrap__payment {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-bottom: 2rem;

        border-bottom: 1px solid $text-color-sub;

        .payment__price {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 50%;
          padding-right: 2rem;

          .payment__price__detail {
            display: flex;
            align-items: baseline;
            h4 {
              margin-right: 1rem;
            }
            span {
              color: $text-color-sub;
              text-decoration: line-through;
            }
          }
          .payment__discount {
            background-color: black;
            color: $white-smoke;
            border-radius: 5px;
            padding: 0.2rem;
          }
        }

        .payment__quantity {
          width: 50%;
          display: flex;
          justify-content: space-between;

          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;

            padding: 0.6rem 1rem;
            border: 1px solid $text-color-sub;
            border-radius: 30px;

            .center {
              margin: 0 1rem;
              a {
                color: $text-color-main;
              }
            }

            li {
              a {
                color: $text-color-sub;
                text-decoration: none;
              }
            }
          }

          button {
            padding: 0.6rem 2.4rem;
            border-radius: 30px;
            outline: none;
            border: none;
            background-color: $dodger-blue;
            color: $white-smoke;

            i {
              margin-right: 0.6rem;
            }
          }
        }
      }

      .wrap__add {
        padding: 0;
        list-style: none;
        display: flex;
        margin-top: 2rem;

        color: $text-color-sub;

        li {
          margin-right: 1rem;
          font-weight: 500;
          i {
            margin-right: 0.6rem;
          }
        }
      }
    }

    .product-detail__img {
      width: 38.5%;
      height: 500px;

      background-color: $text-color-sub;
    }

    .product-detail__img__describe {
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        background-color: $text-color-sub;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .comment__nav {
    padding: 2rem 100px;
    border-top: 1px solid $text-color-sub;
    border-bottom: 1px solid $text-color-sub;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      display: flex;
      align-items: center;

      li {
        margin-right: 2rem;
        position: relative;

        &:active {
          &::after {
            position: absolute;
            bottom: -2rem;
            left: 0;

            content: '';
            width: 100%;
            height: 2px;
            background-color: blue;
          }
        }

        &:hover {
          &::after {
            position: absolute;
            bottom: -2rem;
            left: 0;

            content: '';
            width: 100%;
            height: 2px;
            background-color: blue;
          }
        }

        a {
          color: $text-color-sub;
          font-weight: 500;
          text-decoration: none;
        }
      }
    }
  }

  .wrap__comment {
    padding: 0 100px;

    .comment__content {
      display: flex;
      justify-content: space-between;

      .comment__content__user {
        width: 70%;
        h3 {
          width: 100%;
          border-bottom: 1px solid;
          padding: 5rem 0 2rem;
          margin: 0;

          strong {
            color: $dodger-blue;
          }
        }

        .comment-box {
          display: flex;
          width: 100%;
          padding: 2rem 0;
          border-bottom: 1px solid $text-color-sub;

          .user {
            display: flex;
            justify-content: flex-start;

            width: 30%;

            .user__img {
              width: 50px;
              height: 50px;
              background-color: $text-color-sub;
              border-radius: 50%;

              margin-right: 1.6rem;
            }

            .user__name {
              h4 {
                font-size: 1.2rem;
                font-weight: 500;
              }
              ul {
                margin: 0;
                display: flex;
                padding: 0;
                list-style: none;

                li {
                  margin-right: 0.3rem;
                  color: rgb(225, 233, 112);
                }
              }
            }
          }

          .comment {
            width: 70%;
            p {
              color: $text-color-sub;
            }

            .comment__like {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .comment__like__wrap {
                display: flex;
                align-items: center;
                div {
                  margin-right: 2rem;
                  i {
                    color: $text-color-sub;
                    margin-right: 0.8rem;
                  }
                }
              }
              span {
                color: $text-color-sub;
              }
            }
          }
        }

        .panagation {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          margin: 2rem 0 4rem;

          button {
            padding: 1rem 2rem;
            border-radius: 30px;
            font-weight: 500;
            outline: none;
            border: none;

            i {
              color: $dodger-blue;
              margin-right: 0.6rem;
            }
          }

          ul {
            display: flex;
            list-style: none;
            li {
              margin-left: 3rem;
              a {
                color: $text-color-main;
                font-weight: 500;
                font-size: 1.2rem;
              }
            }
          }
        }
      }

      .comment__review {
        width: 20%;
        h3 {
          width: 100%;
          border-bottom: 1px solid;
          padding: 5rem 0 2rem;
        }

        .comment__review__item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          margin: 1rem 0;

          ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
              i {
                color: rgb(235, 235, 119);
              }
            }
          }

          p {
            margin: 0;
          }

          span {
          }
        }

        button {
          background-color: $dodger-blue;
          padding: 0.8rem 2rem;
          width: 100%;

          border-radius: 30px;
          outline: none;
          border: none;

          font-size: 1.2rem;
          color: $white-smoke;
          font-weight: 500;

          box-shadow: 0 0 10px $text-color-sub;
        }
      }
    }
  }

  .wrap__product {
    .wrap-product-item {
      display: flex;
    }
    .wrap-product-normal {
      display: flex;
    }
  }
}
