@import '../abstracts/variables';
@import '../abstracts/mixins';

.product-item {
  width: 25%;
  height: 375px;

  @include flexCenter;

  position: relative;

  .product-item__wrap {
    .product-item__fake-img {
      width: 275px;
      height: 205px;

      background-color: $background-black;

      color: $white-smoke;

      @include flexCenter;
    }

    .product-item__wrap__info {
      text-align: left;
      margin-top: 1rem;

      span {
        color: $text-color-price;
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  &:hover {
    cursor: pointer;
    .product-item__hover {
      display: block;
      transition: all 0.2s;
    }
  }

  .product-item__hover {
    display: none;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #445dd8;

    h6 {
      position: absolute;
      top: 12%;
      left: 12%;

      color: $white-smoke;
    }

    button {
      position: absolute;
      top: 40%;
      left: 12%;

      padding: 0.8rem 2.4rem;

      border-radius: 30px;
      border: none;
      outline: none;

      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

      font-size: 1rem;

      i {
        margin-right: 0.6rem;
      }
    }

    .hover__icon--copy {
      position: absolute;
      top: 40%;
      left: 58%;

      width: 50px;
      height: 50px;

      background-color: #546bd9;

      @include flexCenter;

      border-radius: 50%;
      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

      i {
        color: $white-smoke;
        font-size: 1rem;
      }
    }

    .hover__icon--heart {
      position: absolute;
      top: 40%;
      right: 12%;

      width: 50px;
      height: 50px;

      background-color: #546bd9;

      @include flexCenter;

      border-radius: 50%;

      box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);

      i {
        color: $white-smoke;
        font-size: 1rem;
      }
    }

    h4 {
      position: absolute;
      top: 70%;
      left: 12%;
      color: $white-smoke;

      font-size: 1.2rem;
    }

    span {
      position: absolute;
      top: 78%;
      left: 12%;
      color: $white-smoke;

      font-size: 1rem;
    }
  }
}
